.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.error {
  display: none;
}

.loading {
  display: flex;
}

.btc-price {
  display: none;
}

.freddo-container {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
}

.freddo-item {
  width: 2rem;
}

.freddo-img {
  width: 100%;
}
